# General
.DS_Store
.env
*.env
*.log

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# iOS / Xcode
build/
DerivedData/
*.swp
*.lock
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserdatad/

# Swift
.build/
.swiftpm/
.concurrency/

# Test/Scratch
test_search.js
fetch_products.js
